body.updated-full-mode {
  overflow-y: hidden !important;
}

body.updated-full-mode .html5-video-container {
  background-color: black;
}

body.updated-full-mode #masthead-container {
  opacity: 0 !important;
}

/* body.updated-full-mode #masthead-container.show,
body.updated-full-mode #masthead-container:hover,
body.updated-full-mode #masthead-container:focus-within {
  opacity: 1 !important;
} */

.ytp-chrome-bottom {
  padding-top: 0px !important;
}

.ytp-upnext {
  top: 0px !important;
}

.svg-container {
  margin: 9px;
}

.ad-container:not(.ad-overlay) {
  top: 0px;
}

.ytp-browser-button {
  display: inline-block !important;
}

body.updated-full-mode ytd-app ytd-watch #player.ytd-watch,
body.updated-full-mode ytd-app ytd-watch-grid #player-full-bleed-container.ytd-watch-grid,
body.updated-full-mode #full-bleed-container {
  height: 100vh !important;
  max-height: 100vh !important;
  min-height: 0 !important;
}

body.updated-full-mode ytd-page-manager,
body.updated-full-mode ytd-watch-flexy {
  margin-top: 0 !important;
}

body.updated-full-mode #movie_player {
  width: 100% !important;
  height: 100vh !important;
}