div#movie_player.full_mode {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

body.full_mode {
  overflow: hidden;
}

#masthead-positioner.full_mode {
  z-index: initial;
}

.html5-video-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.ytp-chrome-bottom {
  padding-top: 0px !important;
}
.html5-main-video.full_mode {
  height: 100% !important;
  width: 100% !important;
  left: 0 !important;
}

.ytp-chrome-bottom.full_mode {
  width: 99% !important;
}
